body {
  background-image: url("../images/worldmapdoodle.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0 auto;
}

li {
  list-style: none;
}

.container {
  padding: 6% 0 0 0;
}

.city {
  background-color: #222831;
  color: white;
  text-align: center;
  border-radius: 40px;
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
}

.weatherToday {
  background-color: #222831;
  color: white;
  border-radius: 40px;
  max-width: 800px;
  margin: 0 auto;
}

.today {
  padding: 5%;
  margin: 0 auto;
}

.temperatureToday {
  margin: 3% 0 0 3%;
  padding: 0;
}

.temperatureToday h1 {
  width: max-content;
  margin: 0 auto;
}

#temp-value,
#current-units {
  font-size: 60px;
}

#current-units {
  color: #a3f7bf;
  text-decoration: none;
  cursor: default;
}

#separator,
#different-units {
  text-decoration: none;
  vertical-align: top;
  font-size: 20px;
  color: #29a19c;
}

.temperatureToday h6 {
  font-size: 20px;
  text-align: center;
  padding: 10% 0 0 0;
  margin: 0;
}

.temperatureToday h6 i {
  color: #29a19c;
}

#temp-min,
#temp-max {
  padding: 0 8% 0 1%;
}

.emojiToday {
  text-align: center;
  font-size: 100px;
  color: #a3f7bf;
  padding: 0;
}

.timeToday {
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  margin-top: 2%;
  padding: 0;
}

.timeToday i {
  color: #29a19c;
}

#sunrise,
#sunset {
  margin-left: 4%;
}

.conditionsToday {
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  margin-top: 5%;
  padding: 0;
}

#wind-speed-units {
  text-transform: lowercase;
}

#description {
  color: #a3f7bf;
}

.forecast {
  background-color: #222831;
  color: white;
  border-radius: 40px;
  padding: 10px 40px;
  max-width: 800px;
  margin: 0 auto;
}

.forecast-data {
  margin: 0 auto;
  padding: 10px 3px 10px 3px;
  text-align: center;
}

.forecast-weekdays,
.forecast-emoji,
.forecast-numbers {
  margin: 0 auto;
  padding: 0 3px 0 3px;
  text-align: center;
}

.forecast-temp-max {
  color: #a3f7bf;
}

.emoji {
  color: #29a19c;
  font-size: 30px;
}

.searchForm {
  min-width: 320px;
  font-family: inherit;
  margin: 0 auto;
  background-color: #a3f7bf;
  color: #222831;
  border-radius: 40px 0 0 40px;
  padding: 10px 20px;
  border: outset;
  box-shadow: 5px 5px 5px rgba (0, 0, 0, 0.3);
  font-weight: bold;
}

.searchButton {
  max-width: 70px;
  font-family: inherit;
  margin: 0 auto;
  background-color: #29a19c;
  color: #222831;
  border-radius: 0 40px 40px 0;
  padding: 10px 20px;
  border: outset;
  box-shadow: 5px 5px 5px rgba (0, 0, 0, 0.3);
  font-weight: bold;
}

.searchContainer {
  display: block;
  text-align: center;
}

.link {
  text-align: center;
  font-family: var(--bs-body-font-family);
  font-weight: 300;
  color: #222831;
}

.openSource {
  text-decoration: none;
  color: #29a19c;
}
